html{
    background-color: beige;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-top: 50px;

}

button{
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 5em;
    font-weight: 700;
}

#boing{
    background-color: aqua;
}

#bubbling{
    background-color: aquamarine;
}

#cymbals{
    background-color:rgb(71, 71, 255);
}